<h3>Welcome to Delivery World</h3>

<%= form_tag FIX_THIS_path do %>
  <%= label_tag :meal, "Meal" %>
  <%= text_area_tag :name %>
  <%= label_tag :name, "Name" %>
  <%= text_area_tag :name %>
  <%= label_tag :address, "Address" %>
  <%= text_area_tag :address %>
  <%= submit_tag "Submit" %>
<% end %>
