<h3>Welcome to Delivery World</h3>

<%= simple_form_for @order do |o| %>
  <%= o.input :name %>
  <%= o.input :address %>
  <%= o.input :meal, collection: Meal.all %>
  <%= o.button :submit %>
<% end %>
<li><%= link_to 'Login', new_employee_session_path %></li>
