
<h1>Welcome to Delivery World</h1>

<%= simple_form_for @order do |o| %>
  <%= o.input :name %>
  <%= o.input :address %>
  <%= o.association :meal %>
  <%= o.button :submit %>
<% end %>
<%= link_to 'Login', new_employee_session_path %>
<h3> Menu </h3>
<% @meals.each do |m| %>
  <%= m.name %>
  <%= '$' + m.price.to_s %>
  <br>
<% end %>
